{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}

<br><br><br>


<h1 class="ml-5">{{ title }}</h1>
<form method="post" action="" class="col-md-10 ml-5 mt-5">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ test.name }}" required>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" required>{{ test.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ test.price }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}