{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{% comment %} {%include 'hospital/admin_dashboard_cards.html'%} {% endcomment %}
<br><br><br><br>

<h3  class=" ml-5 mb-2">Medicine List</h3>
<div class="row ml-5">
    <div class="col-md-7">
        <a type="button" class="btn btn-success mb-3" href="{% url 'admin_medecine_shop_add' %}">Add New</a>
    </div>
    <div class="col-md-5">
        <form method="get" action="{% url 'admin_medecine_shop_view' %}" class="form-inline mb-3">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" name="q" placeholder="Search" value="{{ query }}">
            </div>
            <button type="submit" class="btn btn-primary mb-2 ml">Search</button>
        </form>
    </div>
</div>


<table class="table col-md-11 ml-5">
    <thead>
      <tr>
        <th>Image </th>
        <th>Name</th>
        <th>Model</th>
        <th>Type</th>
        <th>Description</th>
        <th>Company</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

        {% for medicine in medicines %}
      <tr>
        <td><img src="{{ medicine.image.url }}" alt="" style="height: 2rem; width: auto;"></td>
        <td>{{ medicine.name }}</td>
        <td>{{ medicine.model }}</td>
        <td>{{ medicine.type }}</td>
        <td>{{ medicine.description }}</td>
        <td>{{ medicine.company }}</td>
        <td>
            {% if medicine.is_out_of_stock %}
            <span style="color: red;">Out of Stock</span>
            {% else %}
            {{ medicine.quantity }}
            {% endif %}
        </td>
        <td>{{ medicine.price }}</td>
        <td>
            <a href="{% url 'admin_medicine_edit' medicine.pk %}" class="btn bnt-success" style="color:white; background-color:	#006a4e;"><i class="fa-solid fa-pen"></i></a>
            <a href="{% url 'admin_medicine_delete' medicine.pk %}" class="btn bnt-danter" style="color:white; background-color:#f42a41"><i class="fa-solid fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>




<div class="container mt-5 pt-5">
  <h2  class="mt-5 ml-5">Medicine Order Details</h2>
  <table class="table col-md-11 ml-5">
      <thead>
          <tr>
              <th>Medicine Name</th>
              <th>Patient Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Payment Method</th>
              <th>Transaction ID</th>
              <th>Order Quantity</th>
              <th>Order Date</th>
          </tr>
      </thead>
      <tbody>
          {% for order in orders %}
          <tr>
              <td>{{ order.medicine.name }}</td>
              <td>{{ order.patient_name }}</td>
              <td>{{ order.address }}</td>
              <td>{{ order.phone_number }}</td>
              <td>{{ order.payment_method }}</td>
              <td>{{ order.transaction_id }}</td>
              <td>{{ order.order_quantity }}</td>
              <td>{{ order.order_date }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>


{% endblock content %}