{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Primary Meta Tags -->
  <title>XYZ Healthcare - Home</title>
  <meta name="title" content="XYZ Healthcareb - Home">
  <meta name="description" content="This is a medical HTML template made by codewithsadee">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/favicon.svg' %}" type="image/svg+xml">

  <!-- Google Font Link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Custom CSS Link -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Preload Images -->
  <link rel="preload" as="image" href="{% static 'assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'assets/images/hero-bg.png' %}">
</head>








<body id="top">

  <!-- Preloader -->
  <!-- Commented out the preloader for now -->
  {% comment %} 
  <div class="preloader" data-preloader>
    <div class="circle"></div>
  </div> 
  {% endcomment %}

  <!-- Header -->
  <header class="header" data-header>
    <div class="container">
      <a href="#" class="navtitle" style="color: white; font-weight: 600; font-size: 2rem;">
        <!-- <img src="{% static 'assets/images/logo.svg' %}" width="136" height="46" alt="Doclab home"> -->
         XYZ Healthcare
      </a>

      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="#" class="navtitle" style="color: white; font-weight: 600; font-size: 2rem;">
            XYZ Healthcare
          </a>
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">
          <li class="navbar-item"><a href="/" class="navbar-link title-md">Home</a></li>
          <li class="navbar-item"><a href="/adminclick" class="navbar-link title-md">Admin</a></li>
          <li class="navbar-item"><a href="/doctorclick" class="navbar-link title-md">Doctor</a></li>
          <li class="navbar-item"><a href="/patientclick" class="navbar-link title-md">Patient</a></li>
          <li class="navbar-item"><a href="#" class="navbar-link title-md">Contact</a></li>
        </ul>

        <ul class="social-list">
          <li><a href="#" class="social-link"><ion-icon name="logo-twitter"></ion-icon></a></li>
          <li><a href="#" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>
          <li><a href="#" class="social-link"><ion-icon name="logo-pinterest"></ion-icon></a></li>
          <li><a href="#" class="social-link"><ion-icon name="logo-instagram"></ion-icon></a></li>
          <li><a href="#" class="social-link"><ion-icon name="logo-youtube"></ion-icon></a></li>
        </ul>
      </nav>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <a href="/patientclick" class="btn has-before title-md">Make Appointment</a>

      <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
  </header>

  <!-- Main Content -->
  <main>
    <article>
      <!-- Hero Section -->
      <section class="section hero" style="background-image: url('{% static "assets/images/hero-bg.png" %}')" aria-label="home">
        <div class="container">
          <div class="hero-content">
            <p class="hero-subtitle has-before" data-reveal="left">Welcome To XYZ HealthCare</p>
            <h1 class="headline-lg hero-title" data-reveal="left">Find Your <br>Doctor.</h1>
            <div class="hero-card" data-reveal="left">
              <p class="title-lg card-text">Join with us for more services.</p>


              
{% render_field form.password class="form-control" placeholder="Password" %}


  
              <div class="wrapper">
                
                <button class="btn has-before">
                  <ion-icon name="search"></ion-icon>
                  <a href="/patientlogin"><span class="span title-md">Login</span></a>
                </button>
                <button class="btn has-before" style="background-color:	#f42a41;">
                  <ion-icon name="search"></ion-icon>
                  <a href="/patientsignup"><span class="span title-md">New Member</span></a>
                </button>
              </div>



            </div>
          </div>

          <figure class="hero-banner" data-reveal="right">
            <img src="{% static 'assets/images/hero-banner.png' %}" width="590" height="517" loading="eager" alt="hero banner" class="w-100">
          </figure>
        </div>
      </section>

      <!-- Service Section -->
      <section class="service" aria-label="service">
        <div class="container">
          <ul class="service-list">
            <li>
              <div class="service-card" data-reveal="bottom">
                <div class="card-icon">
                  <img src="{% static 'assets/images/icon-1.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>
                <h3 class="headline-sm card-title"><a href="#">Medicine</a></h3>
                <p class="card-text">General medical problems and medical emergencies</p>
                <button class="btn-circle" aria-label="read more about psychiatry">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>
            </li>
            <li>
              <div class="service-card" data-reveal="bottom">
                <div class="card-icon">
                  <img src="{% static 'assets/images/icon-2.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>
                <h3 class="headline-sm card-title"><a href="#">Urology</a></h3>
                <p class="card-text"> Focuses on surgical and medical diseases of the urinary system and the reproductive organs</p>
                <button class="btn-circle" aria-label="read more about Gynecology">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>
            </li>
            <li>
              <div class="service-card" data-reveal="bottom">
                <div class="card-icon">
                  <img src="{% static 'assets/images/icon-3.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>
                <h3 class="headline-sm card-title"><a href="#">Obstetrics and gynaecology</a></h3>
                <p class="card-text">Specializes in the care of women during pregnancy and childbirth</p>
                <button class="btn-circle" aria-label="read more about Pulmonology">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>
            </li>
            <li>
              <div class="service-card" data-reveal="bottom">
                <div class="card-icon">
                  <img src="{% static 'assets/images/icon-4.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>
                <h3 class="headline-sm card-title"><a href="#">Orthopedics</a></h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                <button class="btn-circle" aria-label="read more about Orthopedics">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>
            </li>
            <!-- Repeat similar structure for other services -->
          </ul>
        </div>
      </section>

      <!-- About Section -->
      <section class="section about" aria-labelledby="about-label">
        <div class="container">
          <div class="about-content">
            <p class="section-subtitle title-lg has-after" id="about-label" data-reveal="left">About Us</p>
            <h2 class="headline-md" data-reveal="left">Experienced Workers</h2>
            <p class="section-text" data-reveal="left">"Experienced Hospital Staff: The Backbone of Quality Healthcare Services"</p>
            <ul class="tab-list" data-reveal="left">
              <li><button class="tab-btn active">Vision</button></li>
              <li><button class="tab-btn">Mission</button></li>
              <li><button class="tab-btn">Strategy</button></li>
            </ul>
            <p class="tab-text" data-reveal="left">To build a team of skilled hospital workers dedicated to exceptional patient care and medical innovation</p>
            <div class="wrapper">
              
            </div>
          </div>
          <figure class="about-banner" data-reveal="right">
            <img src="{% static 'assets/images/about-banner.png' %}" width="554" height="678" loading="lazy" alt="about banner" class="w-100">
          </figure>
        </div>
      </section>

      <!-- Listing Section -->
      <section class="section listing" aria-labelledby="listing-label">
        <div class="container">
          <ul class="grid-list">
            <li>
              <p class="section-subtitle title-lg" id="listing-label" data-reveal="left">Doctors Listing</p>
              <h2 class="headline-md" data-reveal="left">Browse by specialist</h2>
            </li>
            <li>
              <div class="listing-card" data-reveal="bottom">
                <div class="card-icon">
                  <img src="{% static 'assets/images/icon-1.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>
                <div>
                  <h3 class="headline-sm card-title">Psychiatry</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                </div>
                <button class="btn-circle" aria-label="read more about psychiatry"><ion-icon name="arrow-forward" aria-hidden="true"></ion-icon></button>
              </div>
            </li>
            <li>
              <div class="listing-card" data-reveal="bottom">
                <div class="card-icon">
                  <img src="{% static 'assets/images/icon-2.png' %}" width="71" height="71" loading="lazy" alt="icon">
                </div>
                <div>
                  <h3 class="headline-sm card-title">Gynecology</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                </div>
                <button class="btn-circle" aria-label="read more about Gynecology"><ion-icon name="arrow-forward" aria-hidden="true"></ion-icon></button>
              </div>
            </li>
            <!-- Repeat similar structure for other listings -->
          </ul>
        </div>
      </section>
    </article>
  </main>

   <!-- 
    - #FOOTER
  -->

  <footer class="footer" style="background-image: url('./assets/images/footer-bg.png');">
    <div class="container">

      <div class="section footer-top">

        <div class="footer-brand" data-reveal="bottom">

          <a href="#" class="logo">
           <img src="{% static 'assets/images/logo.svg' %}" width="136" height="46" loading="lazy" alt="Doclab home">
          </a>

          <ul class="contact-list has-after">

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="mail-open-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Main Email : <a href="mailto:contact@website.com" class="contact-link">contact@&shy;website.com</a>
                </p>

                <p>
                  Inquiries : <a href="mailto:Info@mail.com" class="contact-link">Info@mail.com</a>
                </p>
              </div>

            </li>

            <li class="contact-item">

              <div class="item-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div>
                <p>
                  Office Telephone : <a href="tel:0029129102320" class="contact-link">0029129102320</a>
                </p>

                <p>
                  Mobile : <a href="tel:000232439493" class="contact-link">+880 1737-964070</a>
                </p>
              </div>

            </li>

          </ul>

        </div>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">About Us</p>

          <p class="text">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
          </p>

          <address class="address">
            <ion-icon name="map-outline"></ion-icon>

            <span class="text">
              2416 Mapleview Drive <br>
              Tampa, FL 33634
            </span>
          </address>

        </div>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Services</p>
          </li>

          <li>
            <a href="#" class="text footer-link">Conditions</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Listing</a>
          </li>

          <li>
            <a href="#" class="text footer-link">How It Works</a>
          </li>

          <li>
            <a href="#" class="text footer-link">What We Offer</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Latest News</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Contact Us</a>
          </li>

        </ul>

        <ul class="footer-list" data-reveal="bottom">

          <li>
            <p class="headline-sm footer-list-title">Useful Links</p>
          </li>

          <li>
            <a href="#" class="text footer-link">Conditions</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Terms of Use</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Our Services</a>
          </li>

          <li>
            <a href="#" class="text footer-link">Join as a Doctor</a>
          </li>

          <li>
            <a href="#" class="text footer-link">New Guests List</a>
          </li>

          <li>
            <a href="#" class="text footer-link">The Team List</a>
          </li>

        </ul>

        <div class="footer-list" data-reveal="bottom">

          <p class="headline-sm footer-list-title">Subscribe</p>

          <form action="" class="footer-form">
            <input type="email" name="email" placeholder="Email" class="input-field title-lg">

            <button type="submit" class="btn has-before title-md">Subscribe</button>
          </form>

          <p class="text">
            Get the latest updates via email. Any time you may unsubscribe
          </p>

        </div>

      </div>

      <div class="footer-bottom">

        <p class="text copyright">
          &copy; XYZ Healthcare

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-google"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </footer>

  <!-- Custom JS Link -->
  <script src="{% static 'assets/js/script.js' %}"></script>

  <!-- Ionicon -->
  <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
</body>

</html>
